@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
.blur {
    transform: blur;
    filter: blur(3px);
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}
.invisible {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}
.no-display {
    display: none !important;
}

* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    --blue1: #4299e1;
    --blue2: #2b6cb0;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    

    background: radial-gradient(
    ellipse at center, 
    rgb(31, 78, 150) 0%, 
    rgba(0,0,0,1) 100%
    )
}
body:after {
    z-index: -3;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    repeating-linear-gradient(
    45deg, transparent,
    transparent 1px, 
    rgba(0, 0, 0, 0.5) 10px, 
    rgba(255,255,255, 1) 0px
    );
}   
h3 {
    border-bottom: 2px dotted black;
}
body>div {
    padding: 6vh 10vw;
    height: 100vh;
}

li {
    display: flex;
    justify-content: space-between;
}
label {
    transition: all 300ms;
}

.content {
    transition: all 0.3s;
    min-width: 60rem;
    width: 80vw;
    min-height: 34rem;
    background-color: white;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 80px 4fr;
}
.header {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #b2cee7;
}

.site-h1 {
    font-family: 'Syne Tactile', 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

/* SIDEBAR STUFF */
.due-filter,
.list-filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.add-list {
    margin-top: auto;
}
.add-list-form {
    margin-bottom: auto;
    display: flex;
    gap: 0.8rem;
    position: relative;
}
.add-list-input {
    width: 150px;
    border: 2px solid transparent;
    border-bottom: 3px solid var(--blue1);
    background: transparent;
    color: rgb(255, 217, 2);
    position: relative;
}

.add-list-input:focus+label,
.add-list-input input:not(:placeholder-shown)+label {
    transform: scale(0.8) translateY(-2.2rem);
}

.add-list-form label {
    position: absolute;
    left: 80px;
    color: rgb(255, 217, 2);
    text-align: end;
}
.add-list-input:focus {
    outline: none;
}


.sidebar {
    padding: 1rem;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #667292;
}
.sidebar p {
    color: #111111;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
}
.todo-list {
    color: white;
    grid-template-columns: 2/3;
    background-color: rgb(210, 230, 247);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23d2ad56' fill-opacity='0.15'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}
.list-name {
    border-bottom: 1px solid var(--blue1);
}


/* NEW TASK FORM */
.add-task {
    scale: 1;
    z-index: 1;
    background-color: rgb(81, 97, 128);
    width: 400px;
    height: 700px;
    border-radius: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    transition: all 0.3s;
    border: solid black 2px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}
.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.add-task-form h2 {
    background: rgb(255,255,255);
    background: radial-gradient(ellipse, rgb(148, 157, 197) 0%, rgba(81,97,128,1) 70%);
    border-radius: 50%;
    padding: 20px 38px;
    font-size: 1.6rem;
}
.add-task-form label {
    color: rgb(255, 217, 2);
}

.add-task-form input,select, textarea {
    outline: none;
    border: 0;
    border-bottom: 3px solid var(--blue1);
    width: 100%;
    padding-left: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}
.add-task-form ::placeholder {
    color: grey;
}
.add-task-form input:focus, select:focus, textarea:focus {
    outline: auto;
}


/* Actual tasks */

.list-item {
    padding-left: 2rem;
    position: relative;
    height: 4.4rem;
    border-bottom: 1px grey dotted;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.checkbox {
    border: 2px solid black;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.checkbox.task-completed {
    position: relative;
}
.completed>.checkbox.task-completed::after {
    content: '✔️';
    font-size: 1.1rem;
    position: absolute;
    top: -2px;
    left: -1px;
}

.completed *:not(button) {
    text-decoration: line-through;
    color: rgb(141, 141, 141);
}

.list-item>p {
    width: 50%;
    font-size: 0.7rem;
    margin-left: 1.4rem;
}
.due-date {
    font-size: 0.9rem;
    font-weight: 500;
}
.low-priority::before {
    content: '';
    height: 90%;
    width: 10px;
    background-color: green;
}
.medium-priority::before {
    content: '';
    height: 90%;
    width: 10px;
    background-color: orange;
}
.high-priority::before {
    content: '';
    height: 90%;
    width: 10px;
    background-color: red;
}

/* Lists */
ul .selected>p {
    color: rgb(255, 217, 2);
    text-decoration: double underline;
}
.task-lists li {
    margin-bottom: 10px;
}

.task-lists p,
.due-filter p {
    width: 100%;
}

.remove-list {
    scale: 1;
    z-index: 1;
    background-color: cyan;
    width: 20%;
    min-width: 250px;
    height: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.3s;
}

/* BUTTONS */
.new-task-btn {
    position: relative;
    width: 200px;
    text-align: right;
    padding: 8px 30px 8px 0px;
    font-size: 16px;
}
.new-task-btn>span {
    position: absolute;
    left: 40px;
    top: 7px;
    font-size: 2rem;
    margin-right: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.blue-btn {
    border: 0;
    cursor: pointer;
    background-color: var(--blue1);
    border-radius: 8px;
    border-bottom: 4px solid var(--blue2);
    font-weight: 700;
    color: white;
    line-height: 26px;
    transition: all 300ms;
}
.blue-btn:hover {
    background-color: var(--blue2);
}

.add-list-btn {
    font-size: 26px;
    width: 50px;
    height: 34px;
}
.add-list-btn:hover {
    transform: scale(1.1);
}

.add-task-btn {
    width: 80%;
    height: 40px;
    transition: all 300ms;
}
.add-task-btn:hover {
    transform: scale(1.1);
    background-color: var(--blue1);
}

.remove-btn,
.remove-task-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 26px;
    border: 0;
    background: transparent;

	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='30px' height='30px'%3E%3Cpath d='M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M 13 7 L 13 18 L 15 18 L 15 7 L 13 7 z'/%3E%3C/svg%3E");
}

.remove-task-btn {
    transform: scale(1.5);
}
.remove-task-btn:hover {
    transform: scale(1.8)
}
.remove-btn {
    transform: scale(0.9);
}
.remove-btn:hover {
    transform: scale(1.0);
}
.form-header .close-form-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    font-size: 2rem;
    text-align: right;
    border: 0;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}


